MarioKartNitro_Test/Characters/VariantDriver.zip filter=lfs diff=lfs merge=lfs -text
MarioKartNitro_Test/Assets.zip filter=lfs diff=lfs merge=lfs -text
MarioKartNitro_Test/Assets/Sound/revo_kart.brsar filter=lfs diff=lfs merge=lfs -text
